.git
.gitignore
.venv
__pycache__
*.pyc
*.pyo
*.pyd
.DS_Store
.python-version
.env
.env.*
!.env.example
src/.env
cookie_*.txt
cookies
src/celerybeat-schedule
src/celerybeat-schedule-shm
src/celerybeat-schedule-wal
